# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
.env/
ENV/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Databases / local storage (if any)
*.db
*.sqlite
